.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  color: var(--color-purple);
  font-size: 0.875rem;
  line-height: 1.2;
  margin: 0;
  text-align: start;
  align-items: start;
  display: flex;
  width: 100%;
  gap: 0.25rem;
}

.input label {
  margin-top: 6px;
}

.input input {
  margin-left: 0;
  min-width: 1.3rem;
  width: 1.3rem;
  height: 1.3rem;
}

.center {
  align-items: center;
}
